<%- include common/header.ejs %>
<%- include common/nav.ejs %>
    <section class="wrapper-main-content">
      <div class="block-main-content width-1100">
        <div class="box-project-show" id="box-project-show">
          <label>已创建的项目:</label>
          <% projectNameList.forEach(function (obj, index, arr) { %>
          <span data-project-name="<%= obj.projectName %>"><%= obj.projectName %></span>
          <% }) %>
        </div>
        <div class="box-project-name">
          <h3>请输入项目名称:</h3>

          <div class="set-project-name">
            <input type="text" id="input-project-name" placeholder="请输入项目名称"/>
            <span class="btn btn-add" id="btn-add">确认</span>
          </div>
          <div class="cur-name">
            当前项目名称: <label id="cur-project-name"></label>
          </div>
        </div>
        <div class="box-project-files">
          <h3>请编辑项目相关配置文件:</h3>

          <div class="tab-btn-list" id="tab-btn-list">
            <span class="btn active" data-href="tab-content-1">scriptsConfig.json</span>
            <span class="btn" data-href="tab-content-2">cssConfig.json</span>
            <span class="btn" data-href="tab-content-3">requireConfig.json</span>
            <span class="btn" data-href="tab-content-4">srcConfig.json</span>
          </div>
          <div class="tab-content-list">
            <div class="tab-content" id="tab-content-1">
              <textarea id="code1" style="display: none;">
//
//  脚本文件优化配置
//
//  header: 压缩模块名称
//  include: 脚本入口文件
//  outFile: 脚本优化输出文件
//  exclude: 排除打包依赖文件
//  paths: 优化压缩依赖文件, 具本参照r.js优化配置 https://github.com/jrburke/r.js/blob/master/build/example.build.js
//　例如:
//{
//	"header": {
//		"include": ["app/header/main.js"],
//		"outFile": "header.min.js"
//	},
//	"usage": {
//		"include": ["app/usage/main.js"],
//		"outFile": "usage.min.js"
//	},
//	"bootstrap": {
//		"paths": {
//			"bootstrap": "bootstrap.js",
//			"jquery": "empty:"
//		},
//		"include": ["bootstrap.js"],
//		"exclude": ["jquery"],
//		"outFile": "bootstrap.min.js"
//	}
//}
//
//注: 当前注释部分是模板实例, 使用前请移除。</textarea>
            </div>
            <div class="tab-content" id="tab-content-2">
              <textarea id="code2" style="display: none;">
//
//  样式文件优化配置描述：
//
//  header.min.css: 优化输出的目标文件
//  ["all.css", "common.css", "header.css", "jquery-ui.css"] : 优化合并的源文件
//　例如:
//　{
//    "paths": {
//        "header.min.css": ["all.css", "common.css", "header.css", "jquery-ui.css"],
//        "usage.min.css": ["usage.css", "dialog.css", "easyui.css"],
//         ....
//     }
//　}
//
//注: 当前注释部分是模板实例, 使用前请移除。</textarea>
            </div>
            <div class="tab-content" id="tab-content-3">
              <textarea id="code3" style="display: none;">
{
	 "paths" : {
			"jquery" : "libs/public/jquery-1.8.1.min",
			"jqueryUI" : "libs/public/jquery-ui-1.9.0.custom.min",
			"amplify" : "libs/public/amplify.min",
			"mustache" : "libs/public/mustache"
			"globalConfig": "empty:"
		},
		"shim" : {
			"jquery" : {
				"exports" : "$"
			}
		}
}</textarea>
            </div>
            <div class="tab-content" id="tab-content-4">
              <textarea id="code4" style="display: none;">
//
//  优化的项目配置
//
//  projectBaseURI: 优化项目主路径
//  releaseFolder: 发布文件夹, 在优化项目主路径之下
//  scriptsSrc: 脚本源文件路径
//  stylesSrc: 样式源文件路径
//  scriptsDest: 脚本优后输出的路径
//  stylesDest: 样式优化后输出的路径
//  imagesSrc: 资源图的源路径
//  imagesDesc: 资源图拷贝目录路径
//  defaultTasks: 默认执行gulp任务列表
//  dependTasks: 任务执行依赖
//  excludeModules: 压缩排除的依赖模块
//
//　例如:
//{
//	  "projectBaseURI": "D:\\java_workspace\\sih-epc\\src\\main\\webapp\\",
//	  "releaseFolder": "release\\",
//	  "scriptsSrc": "js\\",
//	  "stylesSrc": "style\\",
//	  "scriptsDest": "scripts\\",
//	  "stylesDest": "styles\\",
//    "imagesSrc": "images\\",
//    "imagesDest": "images\\",
//    "defaultTasks":["git pull","scripts", "cssmin", "imgcopy", "git commit push"],
//    "dependTasks":["git pull"],
//    "excludeModules":["jqueryDatepickeri18n", "jquery", "globalConfig"]
//}

//注: 当前注释部分是模板实例, 使用前请移除。</textarea>
            </div>
          </div>
        </div>
        <span class="btn btn-submit-all" id="btn-submit">提交</span>
      </div>
    </section>

    <textarea id="gulpfile" style="display:none;">
'use strict';

var gulp = require('gulp'),
    srcConfig = require('./srcConfig.json'),
	cssConfig = require('./cssConfig.json'),
	scriptsConfig = require('./scriptsConfig.json'),
	requireConfig = require('./requireConfig.json');

var gulpTasks = require('gulp-feo-tasks')(gulp, srcConfig, cssConfig, scriptsConfig, requireConfig);


gulpTasks.task('default', srcConfig.defaultTasks);

// start default task
gulpTasks.start('default');</textarea>

    <script type="text/javascript">
      var requiredModuleList = ['addProject'];
    </script>

<%- include config/requirejsConfig.ejs %>
<%- include common/footer.ejs %>