<%- include common/header.ejs %>
<%- include common/nav.ejs %>

    <section class="wrapper-main-content">
      <div class="block-main-content width-1100">
        <div class="box-left-list">
          <h3>项目优化:</h3>
          <div class="box-search">
            <input type="text" id="input-search" placeholder="请输入项目名称" />
            <span class="btn btn-search" id="btn-search">查询</span>
            <span class="btn btn-show-all" id="btn-show-all">显示全部</span>
          </div>
          <div class="box-list">
            <table class="table-show-list">
              <thead>
              <tr>
                <td>项目名</td>
                <td>上次优化时间</td>
                <td>操作人</td>
                <td>操作</td>
              </tr>
              </thead>
              <tbody id="tbody-project-list">
              <% projectList.forEach(function (obj, index, arr) { %>
              <tr>
                <td><%= obj.projectName %></td>
                <td><%= obj.lastOptimizeTime %></td>
                <td><%= obj.lastOptimizeBy %></td>
                <td><span class="btn btn-optimize btn-action" data-project-name="<%= obj.projectName %>">优化</span><span class="btn btn-optimize btn-cancel" style="display: none;" data-project-name="<%= obj.projectName %>">取消</span></td>
              </tr>
              <% }) %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="block-right-stage">
          <pre id="info-stage"></pre>
          <span class="btn btn-clear" id="btn-clear">清空</span>
        </div>
      </div>
    </section>

    <div class="bg-loading" id="bg-loading" style="display: none;"></div>
    <ul class="hold-loading" id="hold-loading" style="display: none;">
      <li><i class="icon-spinner icon-spin"></i></li>
      <li>正在执行优化操作，请稍等...</li>
      <li><span class="btn btn-cancel" id="btn-cancel">取消</span></li>
    </ul>

    <script type="text/ejs-template" id="tpl-project-list">
      {{ projectList.forEach(function (obj, index, arr) { }}
      <tr>
        <td>{{= obj.projectName }}</td>
        <td>{{= obj.lastOptimizeTime }}</td>
        <td>{{= obj.lastOptimizeBy }}</td>
        <td><span class="btn btn-optimize btn-action" data-project-name="{{= obj.projectName }}">优化</span><span class="btn btn-optimize btn-cancel" style="display: none;" data-project-name="{{= obj.projectName }}">取消</span></td>
      </tr>
      {{ }) }}
    </script>

    <script type="text/javascript">
      var requiredModuleList = ['optimize'];
    </script>

<%- include config/socketConfig.ejs %>
<%- include config/requirejsConfig.ejs %>
<%- include common/footer.ejs %>