      <% userList.forEach(function (obj, index, arr) { %>
      <% var curClass = (obj.username === curUser.username ? 'disable' : 'normal')  %>
      <tr class="<%= curClass %>">
        <td><%= obj.username %></td>
        <td><%= obj.nickname %></td>
        <% var role = obj.role ? '管理员' : '普通用户' %>
        <td><%= role %></td>
        <td><%= obj.createTime %></td>
        <td><%= obj.createBy %></td>
        <td>
          <span class="btn btn-optimize btn-auth" data-username="<%= obj.username %>">配置权限</span>
          <span class="btn btn-optimize btn-delete" data-username="<%= obj.username %>">删除用户</span>
          <span class="btn btn-optimize btn-reset" data-username="<%= obj.username %>">重置密码</span>
        </td>
      </tr>
      <% }) %>