<%- include common/header.ejs %>
<%- include common/nav.ejs %>

    <section class="wrapper-main-content">
      <div class="block-main-content width-1100">
        <div class="box-manage-list">
          <h3>用户管理:</h3>
          <div class="set-project-name">
            <input type="text" id="input-search" placeholder="请输入用户昵称" />
            <span class="btn" id="btn-search">查询</span>
            <span class="btn" id="btn-show-all">显示全部</span>
            <a class="btn btn-add" href="/user/add">新增用户</a>
          </div>
          <div class="manage-list">
            <table class="table-show-list table-show-list-2 table-show-list-3">
              <thead>
              <tr>
                <td>用户名</td>
                <td>昵称</td>
                <td>角色</td>
                <td>创建时间</td>
                <td>创建人</td>
                <td>操作</td>
              </tr>
              </thead>
              <tbody id="tbody-user-list">
              <% userList.forEach(function (obj, index, arr) { %>
                <% var curClass = (obj.username === curUser.username ? 'disable' : 'normal')  %>
                <tr class="<%= curClass %>">
                  <td><%= obj.username %></td>
                  <td><%= obj.nickname %></td>
                  <% var role = obj.role ? '管理员' : '普通用户' %>
                  <td><%= role %></td>
                  <td><%= obj.createTime %></td>
                  <td><%= obj.createBy %></td>
                  <td>
                    <span class="btn btn-optimize btn-auth" data-role="<%= obj.role %>" data-username="<%= obj.username %>">配置权限</span>
                    <span class="btn btn-optimize btn-delete" data-username="<%= obj.username %>">删除用户</span>
                    <span class="btn btn-optimize btn-reset" data-username="<%= obj.username %>">重置密码</span>
                  </td>
                </tr>
              <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <script type="text/ejs-template" id="tpl-user-list">
      {{ userList.forEach(function (obj, index, arr) { }}
      {{ var curClass = (obj.username === curUser.username ? 'disable' : 'normal')  }}
      <tr class="{{= curClass }}">
        <td>{{= obj.username }}</td>
        <td>{{= obj.nickname }}</td>
        {{ var role = obj.role ? '管理员' : '普通用户' }}
        <td>{{= role }}</td>
        <td>{{= obj.createTime }}</td>
        <td>{{= obj.createBy }}</td>
        <td>
          <span class="btn btn-optimize btn-auth" data-role="{{= obj.role }}" data-username="{{= obj.username }}">配置权限</span>
          <span class="btn btn-optimize btn-delete" data-username="{{= obj.username }}">删除用户</span>
          <span class="btn btn-optimize btn-reset" data-username="{{= obj.username }}">重置密码</span>
        </td>
      </tr>
      {{ }) }}
    </script>

    <script type="text/ejs-template" id="tpl-auth-1">
      <div class="auth-content" id="auth-content"><span><input type="radio" name="auth" value="0" checked />普通用户</span><span><input type="radio" name="auth" value="1" />管理员</span></div>
    </script>
    <script type="text/ejs-template" id="tpl-auth-2">
      <div class="auth-content" id="auth-content"><span><input type="radio" name="auth" value="0"  />普通用户</span><span><input type="radio" name="auth" value="1" checked />管理员</span></div>
    </script>

    <script type="text/javascript">
      var requiredModuleList = ['manageUser'];
      <% var curUserTemp = curUser.username ? curUser.username : '' %>
      <% if (curUserTemp) { %>
        var curUser = {username: '<%= curUserTemp %>'};
      <% } else { %>
        var curUser = {username: ''};
      <% } %>
    </script>

<%- include config/requirejsConfig.ejs %>
<%- include common/footer.ejs %>